<div class="sidebar">
  <ul>
    <li>
      <a href="#"><i class="sidePanelTeamSpace">Team Space</i></a>
    </li>
    <li>
      <a href="#"><i class="sidePanelMySpace">My Space</i></a>
    </li>
    <li>
      <a href="#"><i class="sidePanelSQLLibrary">SQL Library</i></a>
    </li>
    <li>
      <a href="#"><i class="sidePanelBulletinBoard">News Board:</i></a>
    </li>
  </ul>
  <p>
    * This is a bunch of information that is to update the user of recent
    changes to the team dashboard and the status of their automations.
  </p>
  <p>
    * This is a bunch of information that is to update the user of recent
    changes to the team dashboard and the status of their automations.
  </p>
  <p>
    * This is a bunch of information that is to update the user of recent
    changes to the team dashboard and the status of their automations.
  </p>
  <p>
    * This is a bunch of information that is to update the user of recent
    changes to the team dashboard and the status of their automations.
  </p>
</div>
<div class="main--content">
  <div class="header--wrapper">
    <div class="header--title">
      <span>My Workspace</span>
    </div>
    <div class="user--info--buttons">
      <div class="activity-btns">
        <button type="button">Activity</button>
        <button type="button">Team Activity</button>
      </div>
    </div>
  </div>
  <div class="user--info">
    <h2>Username: (User's name)</h2>
    <h2>Teamname: (User's team name)</h2>
    <h2>Description: (description of the function of the automations)</h2>
    <div class="user--workpage--buttons">
      <div class="view-btns">
        <button style="margin-right: 18%" type="button">Main Table</button>
        <button style="margin-right: 18%" type="button">Calendar</button>
        <button style="margin-right: 28%" type="button">Gantt</button>
        <button type="button">Request Automation</button>
      </div>
    </div>
  </div>

  <div class="automation-buttons">
    <button style="margin-right: 13%" type="button">Search</button>
    <button style="margin-right: 13%" type="button">Person</button>
    <button style="margin-right: 13%" type="button">Filter</button>
    <button style="margin-right: 13%" type="button">Sort</button>
    <button style="margin-right: 13%" type="button">Hide</button>
    <button type="button">Delete</button>
  </div>
  <div class="this-week-wrapper">
    <h3>This Week</h3>
    <h4>(2/26-3/1)</h4>
    <h5>Automations:</h5>
    <div class="this-week-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Note</th>
            <th>Files</th>
            <th>Runtime</th>
            <th>Last Update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Task 1</td>
            <td>Michael</td>
            <td>Active</td>
            <td>Make sure to</td>
            <td>csv1</td>
            <td>3/24/2024</td>
            <td>3/16/2024</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="next-week-wrapper">
    <h3>Next Week</h3>
    <h4>(3/4-3/8)</h4>
    <h5>Automations:</h5>
    <div class="next-week-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Note</th>
            <th>Files</th>
            <th>Runtime</th>
            <th>Last Update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Task2</td>
            <td>Michael</td>
            <td>Active</td>
            <td>Make sure to</td>
            <td>csv1</td>
            <td>3/24/2024</td>
            <td>3/16/2024</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
