<div class="sidebar">
    <ul>
        <li>
            <a href="#"><i class="sidePanelTeamSpace">Team Space</i></a>
        </li>
        <li>
            <a href="#"><i class="sidePanelMySpace">My Space</i></a>
        </li>
        <li>
            <a href="#"><i class="sidePanelBulletinBoard">News Board:</i></a>
        </li>
    </ul>
    <p>
        * This is a bunch of information that is to update the user of recent
        changes to the team dashboard and the status of their automations.
    </p>
    <p>
        * This is a bunch of information that is to update the user of recent
        changes to the team dashboard and the status of their automations.
    </p>
    <p>
        * This is a bunch of information that is to update the user of recent
        changes to the team dashboard and the status of their automations.
    </p>
    <p>
        * This is a bunch of information that is to update the user of recent
        changes to the team dashboard and the status of their automations.
    </p>
    <p>
        * This is a bunch of information that is to update the user of recent
        changes to the team dashboard and the status of their automations.
    </p>
</div>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <span>My Workspace</span>
        </div>
        <div class="user--info--buttons">
            <div class="activity-btns">
                <button type="button">Activity</button>
                <button type="button">Team Activity</button>
            </div>
        </div>
    </div>
    <div class="user--info">
        <h2>Username User's name</h2>
        <h2>Teamname User's team name</h2>
        <h2>Description description of the function of the automations</h2>
    </div>
</div>